body {
        font-family: Arial, Helvetica, sans-serif;
      }
      .para-highlight {
        width: 700px;
        background-color: yellow;
        border: 2px solid black;
        padding: 5px;
      }

      #reset {
        background-color: red;
        color: white;
      }